* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

.App {
  margin: 4vw;
  background-color: cornsilk;
}
.title {
  text-align: center;
  padding: 1rem;
  font-family: 'Satisfy', cursive;
}
.result {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}
.btn {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 2vw;
  border: none;
  margin: 1rem;
  font-size: 1rem;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary {
  background-color: rgb(72, 193, 168);
  color: rgb(255, 255, 255);
}
.form-group {
  margin: 1rem;
}
.form-group label {
  width: 100vw;
  margin-bottom: 0.5vw;
  font-size: 0.8rem;
  margin-right: 0.5vw;
}

.form-group input {
  margin-bottom: 1vw;
}
.form-group input {
  padding: 1vw 2vw;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 3px solid transparent;
  background-color: rgb(214, 250, 250);
  outline-width: 0px;
  font-size: 1rem;
}
.form-group input:focus {
  border-bottom: 3px solid rgb(255, 255, 128);
}
